<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand" tabindex="1">
    GuiaPress
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories" tabindex="1">Categorias</a>
    </li>
  </ul>
</nav>